Amakrits VCLSTYLE "styles/Amakrits.vsf"
Carbon VCLSTYLE "styles/Carbon.vsf"
CharcoalDarkSlate VCLSTYLE "styles/CharcoalDarkSlate.vsf"
Glow VCLSTYLE "styles/Glow.vsf"
Light VCLSTYLE "styles/Light.vsf"
Material VCLSTYLE "styles/material.vsf"
TurquoiseGray VCLSTYLE "styles/TurquoiseGray.vsf"
Windows10 VCLSTYLE "styles/Windows10.vsf"
Windows10Dark VCLSTYLE "styles/Windows10Dark.vsf"
Windows10SlateGray VCLSTYLE "styles/Windows10SlateGray.vsf"
