Amakrits VCLSTYLE "styles/Amakrits.vsf"
AmethystKamri VCLSTYLE "styles/AmethystKamri.vsf"
AquaGraphite VCLSTYLE "styles/AquaGraphite.vsf"
AquaLightSlate VCLSTYLE "styles/AquaLightSlate.vsf"
Auric VCLSTYLE "styles/Auric.vsf"
Carbon VCLSTYLE "styles/Carbon.vsf"
CharcoalDarkSlate VCLSTYLE "styles/CharcoalDarkSlate.vsf"
CobaltXEMedia VCLSTYLE "styles/CobaltXEMedia.vsf"
CyanDusk VCLSTYLE "styles/CyanDusk.vsf"
CyanNight VCLSTYLE "styles/CyanNight.vsf"
EmeraldLightSlate VCLSTYLE "styles/EmeraldLightSlate.vsf"
Glossy VCLSTYLE "styles/Glossy.vsf"
Glow VCLSTYLE "styles/Glow.vsf"
GoldenGraphite VCLSTYLE "styles/GoldenGraphite.vsf"
IcebergClassico VCLSTYLE "styles/IcebergClassico.vsf"
LavenderClassico VCLSTYLE "styles/LavenderClassico.vsf"
Light VCLSTYLE "styles/Light.vsf"
Luna VCLSTYLE "styles/Luna.vsf"
MetropolisUIBlack VCLSTYLE "styles/MetropolisUIBlack.vsf"
MetropolisUIBlue VCLSTYLE "styles/MetropolisUIBlue.vsf"
MetropolisUIDark VCLSTYLE "styles/MetropolisUIDark.vsf"
MetropolisUIGreen VCLSTYLE "styles/MetropolisUIGreen.vsf"
Obsidian VCLSTYLE "styles/Obsidian.vsf"
OnyxBlue VCLSTYLE "styles/OnyxBlue.vsf"
RubyGraphite VCLSTYLE "styles/RubyGraphite.vsf"
SapphireKamri VCLSTYLE "styles/SapphireKamri.vsf"
Silver VCLSTYLE "styles/Silver.vsf"
Sky VCLSTYLE "styles/Sky.vsf"
SlateClassico VCLSTYLE "styles/SlateClassico.vsf"
SmokeyQuartzKamri VCLSTYLE "styles/SmokeyQuartzKamri.vsf"
TabletDark VCLSTYLE "styles/TabletDark.vsf"
TabletLight VCLSTYLE "styles/TabletLight.vsf"
TurquoiseGray VCLSTYLE "styles/TurquoiseGray.vsf"
Windows10 VCLSTYLE "styles/Windows10.vsf"
Windows10Blue VCLSTYLE "styles/Windows10Blue.vsf"
Windows10Dark VCLSTYLE "styles/Windows10Dark.vsf"
Windows10Green VCLSTYLE "styles/Windows10Green.vsf"
Windows10Purple VCLSTYLE "styles/Windows10Purple.vsf"
Windows10SlateGray VCLSTYLE "styles/Windows10SlateGray.vsf"

