[Desktop Entry]
Type=Application
Version=1.0

Name=HeidiSQL
Comment=A lightweight database management interface
Icon=heidisql

Exec=heidisql %F
TryExec=heidisql
Terminal=false
StartupWMClass=heidisql

Categories=Database;Development;
Keywords=database;sql;mysql;mariadb;postgresql;mssql;sqlite;
