# Compiled source #
###################
*.dcu
*.obj
*.exe
*.bpl
*.bpi
*.dcp
*.rsm
*.stat
*.map
*.d
*.o

# Generated source #
###################
*.hpp

# Backup files    #
###################
*.~*
__recovery

# IDE Files	  #
###################
*.dproj.local
*.groupproj.local
*.identcache
*.dsk
*.tvsconfig
*.otares
*.drc
*.rc
*.res
*.local
*.dsv

# Output Folders  #
###################
/Win32
/Win64
/OSX32
/__history
*.bak
*.Patch
VirtualTreeView.zip
*.#00
*.pch
*.skincfg
*.a
Packages/RAD Studio XE3/VirtualTreesR.lib
*.lib

# Folder with repro projects #
##############################
/#*