name: Lazarus

defaults:
    run:
        shell: bash

permissions:
  contents: write


on:

  push:
    branches: [ lazarus ]
    tags: [ "*" ]
    paths-ignore: [ "README.md", "LICENSE", "CHANGELOG.md", ".github/cliff.toml" ]

  pull_request:
    branches: [ lazarus ]

jobs:

    build:
        runs-on: ${{ matrix.operating-system }}
        env:
          GITHUB: 1
        strategy:
            fail-fast: false
            matrix:
                operating-system: [windows-latest, ubuntu-latest, macos-latest]
                lazarus-versions: ["stable"]

        steps:
        - name: Checkout source code
          uses: actions/checkout@v4

        - name: Install Lazarus
          uses: gcarreno/setup-lazarus@v3
          with:
            lazarus-version: ${{ matrix.lazarus-versions }}
            with-cache: false
            include-packages: "MetaDarkStyle"

        - name: Build HeidiSQL (Windows)
          if: ${{ matrix.operating-system == 'windows-latest' }}
          run: |
            echo Building with Windows
            make build-win64

        - name: Upload binaries Windows
          if: ${{ matrix.operating-system == 'windows-latest' && matrix.lazarus-versions == 'stable' }}
          uses: actions/upload-artifact@v4
          with:
            name: ${{ matrix.operating-system }}-WIN64
            path: out/win64/heidisql.exe

        - name: Build HeidiSQL (Ubuntu GTK)
          if: ${{ matrix.operating-system == 'ubuntu-latest' }}
          run: |
            echo Building with GTK2
            make build-gtk2

        - name: Upload binaries GTK
          if: ${{ matrix.operating-system == 'ubuntu-latest' && matrix.lazarus-versions == 'stable' }}
          uses: actions/upload-artifact@v4
          with:
            name: ${{ matrix.operating-system }}-GTK
            path: out/gtk2/heidisql

        - name: Getting libqt5pas-dev, libqt6pas-dev
          if: ${{ matrix.operating-system == 'ubuntu-latest' }}
          run: |
            sudo apt update
            sudo apt install -y libqt5pas-dev wget qt6-base-dev
            LIBQT6PAS_VERSION="6.2.10"
            wget -q "https://github.com/davidbannon/libqt6pas/releases/download/v${LIBQT6PAS_VERSION}/libqt6pas6_${LIBQT6PAS_VERSION}-1_amd64.deb" -O /tmp/libqt6pas6.deb
            sudo dpkg -i /tmp/libqt6pas6.deb || sudo apt-get install -f -y
            wget -q "https://github.com/davidbannon/libqt6pas/releases/download/v${LIBQT6PAS_VERSION}/libqt6pas6-dev_${LIBQT6PAS_VERSION}-1_amd64.deb" -O /tmp/libqt6pas6-dev.deb
            sudo dpkg -i /tmp/libqt6pas6-dev.deb || sudo apt-get install -f -y
            rm -f /tmp/libqt6pas6.deb /tmp/libqt6pas6-dev.deb

        - name: Build HeidiSQL (Ubuntu QT5)
          if: ${{ matrix.operating-system == 'ubuntu-latest' }}
          run: |
            echo Building with QT5
            make build-qt5

        - name: Upload binaries QT5
          if: ${{ matrix.operating-system == 'ubuntu-latest' && matrix.lazarus-versions == 'stable' }}
          uses: actions/upload-artifact@v4
          with:
            name: ${{ matrix.operating-system }}-QT5
            path: out/qt5/heidisql

        - name: Build HeidiSQL (Ubuntu QT6)
          if: ${{ matrix.operating-system == 'ubuntu-latest' }}
          run: |
            echo Building with QT6
            make build-qt6

        - name: Upload binaries QT6
          if: ${{ matrix.operating-system == 'ubuntu-latest' && matrix.lazarus-versions == 'stable' }}
          uses: actions/upload-artifact@v4
          with:
            name: ${{ matrix.operating-system }}-QT6
            path: out/qt6/heidisql

        - name: Build HeidiSQL (macOS)
          if: ${{ matrix.operating-system == 'macos-latest' }}
          run: make build-macos

        - name: Upload binaries macOS
          if: ${{ matrix.operating-system == 'macos-latest' && matrix.lazarus-versions == 'stable' }}
          uses: actions/upload-artifact@v4
          with:
            name: ${{ matrix.operating-system }}
            path: out/macos/heidisql

    release:
        if: contains(github.ref_type, 'tag')
        env:
          GITHUB: 1

        name: Create GitHub Release
        runs-on: [ubuntu-latest]
        needs: [build]

        steps:
            - name: Checkout source code
              uses: actions/checkout@v4
              with:
                fetch-depth: 0

            - name: Set env
              run: echo "tag=${{ github.ref_name }}" >> "$GITHUB_ENV"

            - name: Download Ubuntu GTK
              uses: actions/download-artifact@v4
              with:
                name: ubuntu-latest-GTK
                path: out/gtk2

            - name: Download Ubuntu QT5
              uses: actions/download-artifact@v4
              with:
                name: ubuntu-latest-QT5
                path: out/qt5

            - name: Download Ubuntu QT6
              uses: actions/download-artifact@v4
              with:
                name: ubuntu-latest-QT6
                path: out/qt6

            - name: List files
              run: |
                ls -alF out/gtk2
                ls -alF out/qt5
                ls -alF out/qt6

            - name: Install gettext
              run: sudo apt install -y gettext

            - name: Install FPM
              run: sudo gem install --no-document fpm

            - name: Create release archives (Linux GTK)
              run: make tar-gtk2

            - name: Create debian package
              run: make deb-package

            - name: Create release archives (Linux QT5)
              run: make tar-qt5

            - name: Create release archives (Linux QT6)
              run: make tar-qt6

            - name: Generate Release Notes
              id: git-cliff
              uses: orhun/git-cliff-action@v4
              with:
                config: .github/cliff.toml
                args: --latest --strip header

            - name: Create GitHub release
              uses: softprops/action-gh-release@v2
              with:
                name: HeidiSQL ${{ env.tag }}
                body: ${{ steps.git-cliff.outputs.content }}
                files: dist/*
              env:
                GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
